* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

main { 
  padding: 32 px;
  display: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  align-items: center;
  justify-content: center;
}

.map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  /* 16:9 aspect ratio (height / width * 100) */
  background-color: #eaeaea;
  /* Fallback color */
  overflow: hidden;
}

.map-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/dickson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}