.map-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    /* 16:9 aspect ratio (height / width * 100) */
    background-color: #eaeaea;
    /* Fallback color */
    overflow: hidden;
}

.map-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/dickson.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pin {
    position: absolute;
    width: 20px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
    background-color: red;
    /* Or use an image/icon */
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}