.container {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: auto;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    align-items: center;
    justify-content: center;
    position: relative
}

.container:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.photo0 {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.photo1 {
    position: absolute;
    left: 40%;
    top: 60%;
}

.photo2 {
    position: absolute;
    left: 20%;
    top: 40%;
}
